body {
    margin: 0;
    font-size: 15px;
    color: #333;
    line-height: 1.6;
    width: 100%;
    max-width: 1600px;
    min-width: 800px;
    margin: auto;
}


h1, h2, h3, h4 ,h5 ,h6 {
    margin: 0;
}


/* HEADER */

.header {
    padding-top: 30px;
    width: 100%;
    max-width: 1600px;
    min-width: 1000px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner {
    align-content: center;
    margin: auto;
    height: 95px;
}

.hidetext {
    text-indent: -9999px; 
    white-space: nowrap; 
}
/* NAV */

.nav {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: center;
    line-height: 140%;
    font-style: normal;
    padding-top: 10px;
}

.nav_logo {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0px 100px;
    margin-top: -15px;
}

.nav_link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: 85px;
    color: #fff;
    text-decoration: none;
    opacity: 0.8;
}

.nav_link_right {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 85px;
    color: #fff;
    text-decoration: none;
    opacity: 0.8;
}

.dop  {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: 85px;
    color: #fff;
    opacity: 1;
    text-decoration: underline;
    padding-left: -55px;
}


.nav_link:after {
    content:"";
    display: block;
    width:100%;
    height: 3px;
    display: none;
    background-color: rgb(202, 74, 74);
    position: absolute;
    top: 100%;
    left: 0%;
    z-index: 1;
}

.nav_link_right:after {
    content:"";
    display: block;
    width:100%;
    height: 3px;
    display: none;
    background-color: rgb(202, 74, 74);
    position: absolute;
    top: 100%;
    left: 0%;
    z-index: 1;
}

.nav_link:hover {
    color: rgb(202, 74, 74);
}

.nav_link_right:hover {
    color: rgb(202, 74, 74);   
}

.nav_link:hover:after{
    display: block;
}

.nav_link_right:hover:after{
    display: block;
}

.container {
    width: 100;
    max-width: 1600px;
    margin: 0 auto;
}

/* INTRO-TITLE */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1600px;
    height: 744px;
    left: 0px;
    top:-22px;
    background: url("assets/images/bg-image.png") center no-repeat;
    -webkit-background-size:cover;
    background-size:cover;
}

.intro__inner {
    width:100%;
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: -100px;

}

.intro__title {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-size: 64px;
    line-height: 75px;
    height: 75px;
    letter-spacing: 4.5px;
    padding-top: 60px;
    padding-left: 4px;
}

.intro_words {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #fff;
    max-width: 504px;
    padding-left: 118px;
}

.botton {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border: none;
    position: relative;
    margin-top: 10px;
    background-color: #00AFDB;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding: 15px 47px;
}

.botton:hover {
    background-color: rgb(202, 74, 74);
}

.social {
    position: relative;
    display: inline-block;
    margin: 0px 15px;
    align-content: center;
    margin-top: 300px;
    cursor: pointer;
}


/* SECOND PAGE */

.second {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1600px;
    height: 842px;
    left: 0px;
    top: 744px;
    background: #fff;
    -webkit-background-size:cover;
    background-size:cover;
}

.second-image {
  margin: 120px 176px 0 124px;
  display: block;
  max-width: 100%;
  height: auto;
  text-align: center;
}

.left-text {
    margin: 295px 0px 490px 55px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #373737;
}

.litext {
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 6px;
    font-weight: 500;  
}

.botton2 {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    display: block;
    border: none;
    position: absolute;
    padding: 15px 47px;
    margin-top: 30px;
    background-color: #00AFDB;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.botton2:hover {
    background-color: rgb(202, 74, 74);
}

.double {
    display: flex;
    flex-wrap: wrap;
}

.half {
    width: 50%;
}

/*  THIRD PAGE */

.third {
    display: inline-block;
    width: 1600px;
    height: 504px;
    left: 0px;
    top: 1586px;
    background: #F5F6F7;
    -webkit-background-size:cover;
    background-size:cover;
}

.numb {
    font-size: 18px;
    margin-bottom: 18px;
    color: #373737;
    text-align: right;
    margin-right: 268px;
    margin-top: 77px;
}

.arrow-left {
    margin-right: 10px;
}

.arrow-left:hover {
    cursor: pointer;
}

.arrow-right {
    margin-left: 10px;
}

.arrow-right:hover {
        cursor: pointer;
}

.sliderimg {
    margin: -2px 0 140px 0;
    max-width: 100%;
    height: auto;
    text-align: center;
    float: right;
    padding-left: 30px;
}

.litlman {
    margin-top: -155px;
    margin-left: 150px;
    text-align: center;
}

.social2 {
    position: relative;
    display: inline-block;
    margin: 15px 15px;
    align-content: center;
    margin-top: 188px;
    cursor: pointer;
}


.underlogo {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #373737;
    padding-left: 15px;
}

.slidetext {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 5px;
    padding-left: 23px;
}

.fourth {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1600px;
    height: 842px;
    left: 0px;
    top: 2090px;
    background: #fff;
    -webkit-background-size:cover;
    background-size:cover;
}

.half2 {
    width: 50%;
}

.right-text {
padding: 330px 350px 0 0;
font-family: 'Roboto', sans-serif;
font-style: normal;
line-height: 10px;
margin-left: 13px;
letter-spacing: 0.1em;
}

.right-text2 {
    padding-top: 15px;
    padding-left: 12px;
    font-family: 'Roboto', sans-serif;
    font-style: mixed;
    width: 407px;
    line-height: 20px;
    font-size: 14px;
}

.fourth-image {
    margin: 120px 269px;
  display: block;
  max-width: 100%;
  height: auto;
  text-align: center;
}

.botton3 {
    padding-top: 30px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    display: block;
    border: none;
    position: absolute;
    padding: 15px 47px;
    margin-top: 15px;
    background-color: #00AFDB;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.botton3:hover {
    background-color: rgb(202, 74, 74);
}


/* FIVE PAGE */

.five {
    width: 1600px;
    height: 524px;
    left: 0px;
    top: 2932px;
    background: url("assets/images/five.png");
    -webkit-background-size:cover;
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 28px;
    text-transform: uppercase; 
    text-align: center;
    color: #fff;
    padding-top: 200px;
    padding-bottom: 30px;
}

form {
    display: block;
}

.mail {
    width: 320px;
    height: 41px;
    padding-left: 24px;
    outline: none;
}

.botton_small {
    cursor: pointer;
    display: inline-block;
    width: 68px;
    height: 46px;
    margin-left: -5px;
    background: #00AFDB;
    border: none;  
    outline: none;
}

.botton_small:hover {
    background-color: rgb(202, 74, 74);
}


/*   SIX PAGE   */

.six {
    width: 1600px;
    height: 468px;
    left: 0px;
    top: 0px;
    background: #F5F6F7;
}

.coloumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -67px;
}

.six-text {
    position: relative;
    padding: 120px 0 0 0;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 1px;
    color: #373737;
}

.sixtext {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #4E4E4E;
    line-height: 1.4;
    max-width: 480px;
    padding-left: 559px;
    padding-top: 10px; 
}

.bottoms {
    display: flex;
    margin-top: 80px;
}

.btapple {
    background: #00AFDB;
    outline: none;
    border-style: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0 0 0 16px;
    height: 46px;
    margin: 0 15px;
}

.btapple:hover {
    background-color: rgb(202, 74, 74);
}

.spanik {
    background: #009CC2;
    display: flex;
    justify-content: center;
    margin-left: 17px;
    height: 46px;
    width: 59px;
}


        /* LAST PAGE */

.last {
    width: 1600px;
    height: 185px;
    left: 0px;
    top: 3920px;
    background: #000000;
}

.flex_line {
    margin: 0 20px;
    display: inline-block;
    border: 1px solid;
    width: 8px;
    height: 0px;
    transform: rotate(-90deg);
    color: #4E4E4E;  
}

.nav_bot {
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;  
}

.nav_bot:hover {
    color: rgb(202, 74, 74);
}

.footer_inner{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.footer_block {
    padding-top: 73px;
    width: 33.33333%;
    text-align: center;
}

.footer_svg {
    margin-top: -13px;
    align-items: center;
}

.ton {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #818181;  
}
